*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}


.parent{
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
    justify-items: stretch;

}

.child{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    color: white;
}

.item1{
    grid-area: header;
}

.item2{
    grid-area: main;
}

.item3{
    grid-area: sidebar;
}

.item4{
    grid-area: footer;
}